@import url('https://use.typekit.net/eqq3mvt.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}